pre, .post-full-content pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-full-content pre code {
    color: inherit;
    /* color: #e5eff5; */
}

code, .post-full-content code {
    padding: 2px 4px;
    font-size: 90%;
    color: #993366;
=======

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #993366;
    background-color: #f9ecf2;
    border-radius: 10px;
}




/* .post-full-content pre code * { */
/*     color: ;  */
/* } */

.site-header {
    background: #3d3d5c;
}

.site-footer {
    background: #3d3d5c;
}


/* RECON Yellow */

.nav-current a:visited {
    color: #f0c674;
}

/* Header adjustments */
.site-logo {
    max-height: 100px;
}

.site-header-content {
    padding: 6vw 4vw;
}

/* Adjustments to post layouts */
.inner {
    max-width: 1440px;
}

.post-full-content:after, .post-full-content:before {
    content: none;
    width: 0px;
}

.post-full-content {
    padding: 0;
}

.kg-card-markdown {
    max-width: 1440px;
}

.floating-header{
	background:rgba(49,49,70,.95);
}

.floating-header-title {
    color: #fff;
	opacity: .8;
	font-weight: 400;
}

.floating-header-share-label {
    color: #fff;
	opacity: .8
}
.floating-header-divider {
    color: #fff;
	opacity: .8;
}

/* Navigation menu */
.nav {
	margin-left: 20px;
}

.nav li,
.nav li a {
    display: inline;
    margin-right: 20px;
}

.nav li a {
    padding: 10px 0.1px;
    color: #fff;
    opacity: .8;
}



/* font work */
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: "Sawasdee"; 
    src: url("fonts/Sawasdee.ttf")
	    /* src: url("fonts/Sawasdee.eot"); */
	    /* src: url("fonts/Sawasdee.eot?#iefix") format("embedded-opentype"), */
	    /* url("fonts/Sawasdee.ttf") format("truetype"); */
}

@font-face {
    font-family: "Sawasdee";
    src: url("fonts/Sawasdee-Bold.ttf");
	font-weight: bold;
}

@font-face {
    font-family: "Sawasdee";
    src: url("fonts/Sawasdee-Oblique.ttf");
	font-style: oblique;
}

@font-face {
    font-family: "Sawasdee";
    src: url("fonts/Sawasdee-BoldOblique.ttf");
	font-weight: bold;
    font-style: oblique;
}


.post-full-content h1,  .post-full-content h2,  .post-full-content h3, .post-full-content h4,  .post-full-content h5,  .post-full-content h6 {
    font-family: Sawasdee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif; 
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: Sawasdee,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif; 
}

body, input, select, button, p {
    font-family: "raleway", sans-serif;
}

/* featured post removal */

@media (min-width:795px) {
    .home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) {
        -ms-flex: 50%;
        flex: 50%;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}


<<<<<<< HEAD
/* used in practicals */

.question {
    font-style: italic;
    background: #c6c6ec;
    color: #1a1a1a;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
}



/* Further CSS customisation for RECON style */

/* links */

/* a:link { */
/*     color: #666699; */
/* } */

/* a:visited { */
/*     color: #666699; */
/* } */

/* a:hover { */
/*     /\* font-weight: bold; *\/ */
/*     color: #862d59; */
/* } */


.question {
    font-style: italic;
    background: #c6c6ec;
    color: #1a1a1a;
    border-radius: 5px;    
    padding: 2px 5px 2px 5px;
}


/* .entry-header { */
/*     font-family: Sawasdee; */
/*     color: #4d4d4d; */
/*     font-size: 3em; */
/*     font-weight: normal; */
/*     text-align: center; */
/*     margin-bottom: 1em; */
/*     text-shadow: 2px 2px 6px; */
/* } */



/* .entry-categories a:link, */
/* .entry-tags a:link { */
/*     padding: 5px; */
/*     background: #f2f2f2; */
/*     border-radius: 10px; */
/*     text-decoration: none; */
/*     font-weight: normal; */
/* } */


/* .entry-categories a:hover, */
/* .entry-tags a:hover { */
/*     padding: 5px; */
/*     background: #ffe6ee; */
/*     color: #990033; */
/*     border-radius: 10px; */
/*     text-decoration: none; */
/*     font-weight: normal; */
/* } */




.content-title a:link {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: normal;
    text-shadow: 2px 2px 4px;
}


.content-title a:hover {
    padding: 10px 20px 10px 20px;
    color: #990033;
    text-decoration: none;
    font-weight: normal;
}


.title-info a:link,
.title-info a:visited {
    text-decoration: none;
    color: white;
    font-family: Sawasdee;
    font-weight: bold;
    text-transform: none;
}



/* side bars alongside practical pages */

.entry-sidebar .entry-sidebar-title {
    font-family: Sawasdee;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #29293d;
    margin-top: 0.7em;
    padding: 10px 0px 10px 0px;
}




/* header */
.site-header {
    position: relative;
    z-index: 2;
    /* padding: 1.5em 5.55% 2.25em; */
    border-top: solid 0.75em #3d3d5c;
    border-radius: 5px;
}

.categories-block a:link,
.categories-block a:visited {
    padding: 0px 2px 0px 2px;
    text-decoration: none;
    color: white;
}


.social-media-block a:link,
.social-media-block a:visited  {
    text-decoration: none;
    color: white;
}


.categories-block a:hover {
    padding: 0px 2px 0px 2px;
    background: #ffe6ee;
    color: #990033;
    border-radius: 5px;
    color: #990033;
}


.site-header a, .site-footer a {
    opacity: 1;
}




/* title */

.title-logo {
    padding: 40px 10px 10px 10px;
}



/* general config */

body {
    /* background: #d9d9d9; */
    background: white;
}


.category-header a:link,
.category-header a:visited {
    color: #333333;
}


/* content boxes (posts overview) */
.content {
    overflow: hidden;
    margin-bottom: 1.5em;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000000;
}


.content:hover {
    box-shadow: 5px 5px 20px #80002a;
}




/* for pretty, framed, shadowed images serving as a gatway to something else */
.gateway {
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000000;
}



.gateway:hover{
    box-shadow: 5px 5px 20px #80002a;
}
